extends layout 
block content_here
	//- div.main
		form(action="/sign/in",method="POST")
			input(type="text",name="username")
			input(type="password",name="password")
			input(type="submit",value="登录")
	div.login-container(id="cl-wrapper")
		div.middle-login
			div.block-flat
				div.header
					h3.text-center
						//- img(src="/images/logo.png",alt="logo")
						| 三星乐园
				div
					form(id="generateform",method="post",action="/admin/random",style="margin-bottom: 0px !important;")
						div.content
							h5 随机码:  
								span#randomnum
							textarea(name="generate",style="width:100%;height:120px;",data-content="#{sharecontent}")
						div.foot
							button.btn.btn-primary(data-dismiss="modal",name="random",type="button") 获取抽奖地址
			div.text-center.out-links
				a(href="#") &copy; 2014 三星乐园-微信管理

block js_here
	script(src="/js/login.js")