extends layout
block title
	|  抽奖活动说明
block content_here
	div.main
		h1 三星乐园 - 抽奖活动说明
		p 上传任意杂志截图,管理员会审核截图内容,如果内容符合本次活动, 则管理员会发送给你一个抽奖地址.
		p 获得参与地址后,可以参与抽奖,抽奖为翻转卡牌,卡牌后会有对应的奖品,奖励将会发放给您.
		p 奖品包括 70m 流量包 、1：18汽车模型 或 三星 GALAYXY S5
		p 抽中 1：18汽车模型 或 三星 GALAYXY S5 的用户请填写具体联系方式,方便客服人员联系,并将奖品发送给您.
		p
			a(href="/lottery-work") 开始抽奖